@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

}

body {
  background-color: #F9F9F9;
  user-select: none;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {

  position: relative;
  width: 296px;
  left: 0px;
  top: 0px;
  background: #F9F9F9;
  border: 1px solid #d6d4d4;
}



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .header-mobile-mobile {
    display: none !important;


  }
  .mobileview-menu{
    /* display: inline; */
    display: none !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .header-mobile-mobile {
    display: none;
    visibility: hidden;

  }
  .for_hr_line_view{
    display: none !important;

  }
  .mobileview-menu{
    /* display: inline; */
    display: none !important;
}

}


/* mobile view  */
@media only screen and (max-width: 600px) {

  .view-all{
    display: none !important;
  }
  .wrapper .sidebar {
    position: absolute;
    transform: translateX(-100%);
    z-index: 99;
    height: 100%;
    /* transition: 0.6s ease-in-out; */
  }

  .mobileview-menu{

/* identical to box height */
display: block;
width: 39px;
height: 18px;
margin-left: 16px;
display: inline;
align-items: center;
color: #989AA3

  }
  .hrline{
    display: none;
  }
  .tabbarname{
    display: none;
  }
  .recent-play-ads{
    margin-left: -30px !important;
  }
  .nav{
    display: flex !important;
    justify-content: space-between;
  }
  .wrapper .sidebar.active{
    transform: translateX(0px);
    transition: 0.6s ease-in-out;
  }

  .main_content {
    width: 100%;
    background: #F9F9F9;
  }

  .playlist-song {
    margin-top: 40px;
  }

  .recomended-foryou {
    margin-top: 40px;
  }

  .headerlefticon {
    visibility: hidden;
    display: none;
  }

  .recently-play {
    margin-top: 40px;
  }

  .recent-play-ads {
    margin-top: 40px;
  }

  .headerlefticon {
    visibility: hidden;
    display: none;
  }

  .headericon {
    visibility: hidden;
    display: none;
  }

}

@media only screen and (min-width: 1281px) {

  .header-mobile-mobile {
    display: none;
    visibility: hidden;

  }
  .mobileview-menu{
    /* display: inline; */
    display: none !important;
}
}

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  .header-mobile-mobile {
    display: none !important;

  }
  .mobileview-menu{
    /* display: inline; */
    display: none !important;
}

}


.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  margin-top: 52px;
  /* border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05); */


}

.wrapper .sidebar ul li {
  padding: 15px;
  margin-top: 17px;
  /* border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05); */


}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  text-decoration: none;

}

.wrapper .sidebar ul li a .fas {
  width: 25px;
  text-decoration: none;
}

.wrapper .sidebar ul li:hover {
  background: #EFF1F7;
  color: #030303;


}

.wrapper .sidebar ul li:hover a {
  color: #030303;
}

/* .wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
} */

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  /* width: 1144px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  height: 3011px;
  line-height: 18px;
  margin-left: 296px; */

  width: 100%;
  left: 296px;
  top: 0px;
  background: #F9F9F9
}

.wrapper .main_content .header {
  padding: 20px;
  margin-top: 25px;
  background: #F9F9F9;
  color: #717171;
  /* border-bottom: 1px solid #e0e4e8; */
}

.wrapper .main_content .info {
  margin-left: 47px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  /* margin-bottom: 33px; */
}