@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&display=swap');

.tabbaroption {
    font-family: Poppins;
    background-color: #F9F9F9;
    margin-left: 48px;
    font-family: Poppins;
    font-style: normal;
    border: solid #F9F9F9;
    font-size: 14px;
    cursor: pointer;
    margin-top: 118px;
    font-weight: 400px;

}

.genral {
    float: right;
    margin-right: 20px;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400px;
    background-color: #F9F9F9;
    border: solid #F9F9F9;
}